
/* #Layout */
html {
    font-size: 14px;
}
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #69696a;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 { color: #000; font-weight: 600;}
.a-container-to-contain-them-all { /* Only necessary for the purposes of this example */
    background-color: #f9fafc;
    width: 650px;
    margin: 0 auto; /* If not wrapping all the content in one container, the container itself needs this */
    
    /* Vertically center example on the page */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.container {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.border-left{
    border-left: 3px solid #ccc;
}
.main-content {
    padding: 30px 0;
}
.body-text {
    margin: 0 0 0 15px; /* Remove default paragraph margins and add some bottom spacing */
}
/* #Layout */

/* #Navbar */
.nav {
    padding-top: 15px;
    padding-bottom: 30px;
}
.nav-items {
    float: right;
    padding: 0; /* override browser */
    margin: 0; /* override browser */
}
.nav-item {
    display: inline-block;
}
.nav-item > a {
    text-decoration: none;
    color: #69696a;
    padding: 0 10px;
}
.chirpus { /* Logo */
    font-size: 1.25em;
    font-weight: 600;
    color: #000;
}
/* #Navbar */

/* #Circles */
.circle {
    border-radius: 50%;
    position: absolute;
}
.circle-container {
    position: relative;
    width: 300px;
    height: 300px;
}
.circle-pink {
    width: 165px;
    height: 165px;
    background-color: rgba(247, 136, 167, 0.6);   
    right: 55px;
}
.circle-purple {
    width: 85px;
    height: 85px;
    background-color: rgba(207, 130, 213, 0.6);
    right: 0;
}
.circle-tan {
    width: 110px;
    height: 110px;
    background-color: rgba(247, 193, 162, 0.7);
    bottom: 120px;
    right: 0;
}
/* #Circles */

/* #Buttons */
.scroll {
    text-align: center;
    display: block;
}
.button-black > a {
    border-radius: 30px;
    background: black;
    color: white;   
    padding: 5px 22px;
    text-decoration: none;
}
/* #Buttons */